body {
    background-image: url("../imgs/img-tet5.jpg");
    background-size: cover; 
}
.flower {
    opacity: 0;
}
.flower:nth-child(1) {
    position: fixed;
    top: 0px;
    left: -30%;
    width: 33%;
    height: 60%;
    transform: rotateY(180deg);
    z-index: 9;
}
.flower:nth-child(2) {
    position: fixed;
    bottom: 10px;
    right: -30%;
    width: 30%;
    height: 65%;
    z-index: 9;
}
.lenter {
    position: fixed;
    z-index: 10;
}
.lenter:nth-child(3) {
    width: 3%;
    height: 18%;
    top: 23%;
    left: 3.5%;
}
/* Container chứa đồng hồ đếm ngược */
.clock {
    width: 0px;
    height: 0px;
    margin: 150px auto;
    font-family: 'Roboto', sans-serif;
    border: 1.5px solid rgba(255, 255, 255, 0.493);
    border-radius: 10px;
    background-color: #dac594ee;
    opacity: 0;
    position: relative;
}
/* .clock .number-2020 {
    width: 30%;
    height: 30%;
    position: absolute;
    top: -30%;
    left: 35%;
} */
.clock .lan:nth-child(2) {
    width: 20%;
    height: 60%;
    position: absolute;
    top: -57%;
    left: 15%;
    transform: rotateY(180deg);
}
/* .clock .lan:nth-child(3) {
    width: 20%;
    height: 60%;
    position: absolute;
    top: -57%;
    right: 15%;
} */

@media only screen and (max-width: 414px) {
    body {
        background-size: contain; 
    }
    .flower:nth-child(1) {
        width: 55%;
        height: 40%;
    }
    .flower:nth-child(2) {
        width: 55%;
        height: 45%;
    }
}